@import 'var';

.valueView {
  font-size: 12px;
  line-height: inherit;
  font-family: Consolas, monospace;
  color: $defaultColor;
}

.string {
  color: $stringColor;
}

.number,
.boolean {
  color: $numberColor;
}

.null,
.undefined {
  color: $nullColor;
}
